# =========================
# FLUTTER & DART (Padrão)
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# =========================
# ANDROID (Build e Config Local)
# =========================
/android/.gradle
/android/app/build
/android/local.properties
/android/key.properties
/android/*.keystore

# =========================
# IOS (Build e Dependências)
# =========================
/ios/.symlinks
/ios/Pods
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh

# =========================
# IDEs & EDITORES
# =========================
.idea/
.vscode/
*.iml
*.ipr
*.iws
.metadata

# =========================
# SISTEMA OPERACIONAL (Lixo)
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# =========================
# FIREBASE & SEGURANÇA 🔒
# =========================
# Impede o vazamento de chaves de API e configs do projeto
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
firebase.json